---
Checks: 'bugprone-*,
         -bugprone-easily-swappable-parameters,
         -bugprone-exception-escape,
         clang-diagnostic-*,
         clang-analyzer-*,
         corecppguidelines-*,
         modernize-*,
         -modernize-use-trailing-return-type,
         -modernize-use-nodiscard,
         mpi-*,
         performance-*,
         -performance-avoid-endl,
         -performance-inefficient-string-concatenation,
         portability-*,
         readability-*,
         -readability-magic-numbers,
         -readability-isolate-declaration,
         -readability-avoid-const-params-in-decls,
         -readability-identifier-length,
         -readability-function-cognitive-complexity'
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
HeaderFileExtensions: ['', "H", 'h', 'hh', 'hpp', 'hxx']
AnalyzeTemporaryDtors: false
FormatStyle:     none
User:            user
CheckOptions:
  - key:             cert-dcl16-c.NewSuffixes
    value:           'L;LL;LU;LLU'
  - key:             cert-oop54-cpp.WarnOnlyIfThisHasSuspiciousField
    value:           '0'
  - key:             cert-str34-c.DiagnoseSignedUnsignedCharComparisons
    value:           '0'
  - key:             cppcoreguidelines-explicit-virtual-functions.IgnoreDestructors
    value:           '1'
  - key:             cppcoreguidelines-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic
    value:           '1'
  - key:             google-readability-braces-around-statements.ShortStatementLines
    value:           '1'
  - key:             google-readability-function-size.StatementThreshold
    value:           '800'
  - key:             google-readability-namespace-comments.ShortNamespaceLines
    value:           '10'
  - key:             google-readability-namespace-comments.SpacesBeforeComments
    value:           '2'
  - key:             llvm-else-after-return.WarnOnConditionVariables
    value:           '0'
  - key:             llvm-else-after-return.WarnOnUnfixable
    value:           '0'
  - key:             llvm-qualified-auto.AddConstToQualified
    value:           '0'
  - key:             modernize-loop-convert.MaxCopySize
    value:           '16'
  - key:             modernize-loop-convert.MinConfidence
    value:           reasonable
  - key:             modernize-loop-convert.NamingStyle
    value:           CamelCase
  - key:             modernize-pass-by-value.IncludeStyle
    value:           llvm
  - key:             modernize-replace-auto-ptr.IncludeStyle
    value:           llvm
  - key:             modernize-use-nullptr.NullMacros
    value:           'NULL'
  - { key: readability-identifier-naming.NamespaceCase, value: lower_case }
  - { key: readability-identifier-naming.ClassCase, value: CamelCase }
  - { key: readability-identifier-naming.PrivateMemberPrefix, value: m_ }
  - { key: readability-identifier-naming.ProtectedMemberPrefix, value: m_ }
  - { key: readability-identifier-naming.StructCase, value: CamelCase }
  - { key: readability-identifier-naming.FunctionCase, value: lower_case }
  - { key: readability-identifier-naming.VariableCase, value: lower_case }
  - { key: readability-identifier-naming.GlobalConstantCase, value: UPPER_CASE }
  - { key: readability-identifier-naming.ClassIgnoredRegexp, value: "incflo"}
  - { key: readability-identifier-naming.FunctionIgnoredRegexp, value: "(Godunov_|setVal|ComputeDt|ComputePrescribeDt|ApplyPredictor|ApplyCorrector|ApplyPrescribeStep|ApplyProjection|UpdateGradP|ReadCheckpointFile|Factory|ReadParameters|InitialProjection|InitialIterations|PrintMax|CheckForNans|InitData|Evolve|buildInfoGetBuildDate|buildInfoGetComp|buildInfoGetGitHash|buildInfoGetCompVersion|FAST_).*"}
  - { key: readability-identifier-naming.GlobalConstantIgnoredRegexp, value: "^.*"}
  - { key: readability-identifier-naming.NamespaceIgnoredRegexp, value: "Hydro"}
  - { key: readability-identifier-naming.StructIgnoredRegexp, value: "(SC_DX|OpFM).*"}
  - { key: readability-identifier-naming.VariableIgnoredRegexp, value: "^.*"}
...
