[submodule "submods/amrex"]
	path = submods/amrex
	url = https://github.com/AMReX-Codes/amrex.git
[submodule "test/googletest"]
	path = submods/googletest
	url = https://github.com/google/googletest.git
