exec/*.ex
exec/tmp_build_dir/
exec/Backtrace.*
exec/plt*/
exec/chk*/
exec/movie.visit
exec/*.vtp
exec/*.pvtp
test/*.ex
test/tmp_build_dir/
test/Backtrace.*
test/*plt*/
test/chk*/
test/AMR-WindGoldFiles
